{% extends 'base.html.twig' %}

{% block title%}Post - Add Comment{% endblock %}

{% block bread %}
    -> <a href="{{ path('app_show_one', {post: post.id}) }}">Post -> Comment</a>
{% endblock %}

{% block body %}
    {{ include('post/_post.html.twig', {post: post}) }}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div>
        {{ form_errors(form) }}
    </div>

    <div class="mt-4">
        {{ form_label(form.text, 'Please enter a comment', {'label_attr': {'class': 'block text-sm text-gray-700'}}) }}
        {{ form_widget(form.text, {'attr': {'class': 'block w-full shadow-sm border-gray-300'}}) }}
        {{ form_errors(form.text) }}
    </div>
    <div class="mt-4">
        {{ form_label(form.commentImage, 'Change Image', {'label_attr': {'class': 'shadow-sm border-transparent bg-gray-300 hover:bg-gray-400 cursor-pointer rounded-md border p-2'}}) }}
        {{ form_widget(form.commentImage, {'attr': {'class': 'hidden'}}) }}
        {{ form_errors(form.commentImage) }}
    </div>

    <div class="mt-4">
        {{ form_label(form.deleteImage) }}
        {{ form_widget(form.deleteImage) }}
        {{ form_errors(form.deleteImage) }}
    </div>

    {% if comment is defined %}
        <div class="mt-4">
            <div>
                <a href="{{ path('app_delete_comment', {comment: comment.id}) }}" onclick="return confirm('Are you sure you want to delete this comment?')">
                    <span class="px-2 rounded-md bg-gray-200 text-red-500">Delete</span>
                </a>
            </div>
        </div>
    {% endif %}


    <div>
        <button type="submit" class="bock w-full shadow-sm border-transparent bg-indigo-600 hover:bg-indigo-400 rounded-md border p-2 mt-4 mb-2">Save</button>
    </div>

    {{ form_end(form) }}

{% endblock %}